{
    "importOrder": [
      "^(react|next(?:/.*))?$",
      "<THIRD_PARTY_MODULES>",
      "^@constants/(.*)$",
      "^@components/(.*)$",
      "^@helpers/(.*)$",
      "^@hooks/(.*)$",
      "^@styles/(.*)$",
      "^@svgs/(.*)$",
      "^@utils/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "plugins": [
      "@trivago/prettier-plugin-sort-imports",
      "prettier-plugin-tailwindcss"
    ]
  }
  